html {
	background-image: url(background.jpg);
    background-size: cover;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}

.container {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-left: 100px;
	padding-right: 100px;
    padding-top: 15px;
	box-sizing: border-box;
    opacity: 95%;
}

header {
	padding-top: 20px;
	color: #617140;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 250%;
}

h2 {
    font-size: 200%;
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1.5px 0 #bbb,
               0 2px 0 #b9b9b9,
               0 2.5px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 2.5px rgba(0,0,0,.1),
               0 0.5px 1.5px rgba(0,0,0,.3),
               0 1.5px 2.5px rgba(0,0,0,.2),
               0 2.5px 5px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 10px 10px rgba(0,0,0,.15);
}

header p {
	margin: 0;
    font-size: 120%;
}

.site-nav {
	margin-top: 20px;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.site-nav li:hover > a,
.site-nav a:hover {
	background-color: #e5e9dc;
}

.site-nav li ul {
	position: absolute;
	left: -9999px;
	background-color: #e5e9dc;
	box-shadow: 7px 7px 7px -7px rgba(0, 0, 0, .6);
	z-index: 9999;
}

.site-nav li:hover ul {
	left: auto;
}

.site-nav li li {
	float: none;
	margin-right: 0;
}

.site-nav li li a:hover {
	background-color: #869960;
	color: #FFF;
}



.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding: 20px 30px;
	box-sizing: border-box;
	font-size: 85%;
}

iframe {
    width: auto;
}

footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.hudhud {
    width: 100%;
    margin-top: -25px;
}

.hudhud:hover {
    transform: scale(1.005);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    box-shadow: 17px 15px #617140;
}

.contact-table {
    width: 100%;
    border: 2px #617140 solid;
    margin-top: 15px;
    border-collapse: collapse;
}

.whatsapp {
    width: 33.33%;
    color: #617140;
}

.whatsapp:hover {
    
    
    
    background-color: #fde3e3;
    transition-duration: 0.5s;
}

.instagram {
    width: 33.33%;
    color: #617140;
}

.instagram:hover {
    background-color: #fde3e3;
    transition-duration: 0.5s;
}

.facebook {
    width: 33.33%;
    color: #617140;
}

.facebook:hover {
    background-color: #fde3e3;
    transition-duration: 0.5s;
}

.hello a {
    text-decoration: none;
    color: #617140;
}

.contact-table th{
    padding-bottom: 5px;
}